TEST_AMOUNT=0.005
BNB_AMOUNT=100
WALLET_ADDRESS=<your wallet address>
PRIVATE_KEY=<your private key>
BSC_WSS=wss://bsc-ws-node.nariox.org:443
BSC_HTTPS=https://bsc-dataseed.binance.org/
MORALIS_BSC=https://speedy-nodes-nyc.moralis.io/<your account>/bsc/mainnet
